<%= simple_form_for [ @boat, @booking ] do |f| %>
<h1>please select your travel dates below</h1>
  <%= f.input :start_date%>
  <%= f.input :end_date %>
  <%= f.submit "Submit", class: "btn btn-primary" %>
<% end %>

<%= link_to 'home', root_path, class: "btn btn-primary"%>
