<div class= "dashboard_image" style="background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(<%= asset_path('dashboard1.jpeg') %>);">
  <div class="dashboard_text">
    <h1>Welcome to Your Dashboard, <strong><%= current_user.firstname.capitalize %></strong></h1>
  </div>
</div>

<div class= "container dashboard">
   <div class="row1">
      <div class="col-md-10 offset-md-1">

      <h2 id="speakers" class="text-left mt-5 text-muted"><i class="far fa-clipboard fa-lg"></i> Your Bookings</h2>
          <div class="card mb-3">
          <div class="card-header">
            <h5 class="card-title-dashboard"><strong>My Pending Bookings</strong></h5>
          </div>
          <div class="row no-gutters justify-content-between">
            <% @bookings_ive_made.where(accepted: false).each do |booking| %>
            <div class="col-md-5">
               <% if booking.boat.photos.attached? %>
                  <%= cl_image_tag booking.boat.photos[0].key, class: "card-img" %>
               <% end %>
            </div>
            <div class="col-md-6">
              <div class="card-body">
                 <p class="card-text">
                    <h4 class="purple"><%= booking.boat.name.capitalize %></h4> booked from <%= booking.start_date.strftime("%d/%m/%Y") %> to <%= booking.end_date.strftime("%d/%m/%Y") %>
                  </p>
                  <%= link_to 'Edit your booking', edit_booking_path(booking), class: "btn btn-primary" %>
                  <%= link_to "Delete booking", booking_path(booking), class: "btn btn-warning",
                      method: :delete,
                      data: {confirm: "are you sure"} %>
              </div>
              <% end %>
            </div>
          </div>
        </div>
    </div>
  </div>

<div class= "container">
   <div class="row1">
      <div class="col-md-10 offset-md-1">
        <div class="card mb-3">
          <div class="card-header">
            <h5 class="card-title-dashboard "><strong>My Confirmed Bookings</strong></h5>
          </div>
          <div class="row no-gutters justify-content-between">
               <% @bookings_ive_made.where(accepted: true).each do |booking| %>
            <div class="col-md-5">
              <% if booking.boat.photos.attached? %>
                    <%= cl_image_tag booking.boat.photos[0].key, class: "card-img" %>
              <% end %>
            </div>
            <div class="col-md-6">
              <div class="card-body">
                <p class="card-text">
                   <h4 class="purple"><%= booking.boat.name.capitalize %></h4>
                   booked from <%= booking.start_date.strftime("%d/%m/%Y") %> to <%= booking.end_date.strftime("%d/%m/%Y") %>
                </p>
              </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
   </div>
  </div>


<div class= "container">
    <div class="row1">
      <div class="col-md-10 offset-md-1">
        <div class="sub-head justify-content-between">
          <h2 id="speakers" class="text-left mt-5 text-muted"><i class="fas fa-anchor fa-lg"></i> Your Boats </h2>
          <%= link_to 'Add A Boat', new_boat_path(@boats), class: "btn btn-success" %>
        </div>
        <div class="card mb-3">

          <div class="card-header">
            <h5 class="card-title-dashboard "><strong>Pending Requests For My Boats</strong></h5>
          </div>
          <div class="row no-gutters justify-content-between">
             <% @bookings_people_have_made_for_my_boats.where(accepted: false).each do |booking|%>
            <div class="col-md-5">
              <% if booking.boat.photos.attached? %>
                <%= cl_image_tag booking.boat.photos[0].key, class: "card-img" %>

              <% end %>
            </div>
            <div class="col-md-6">
              <div class="card-body">
                <p class="card-text">
                <h4 class="purple"><%= booking.boat.name.capitalize %></h4> booked from <%= booking.start_date.strftime("%d/%m/%Y") %> to <%= booking.end_date.strftime("%d/%m/%Y") %>
                </p>
                  <%= link_to 'accept booking', confirmed_path(booking: booking), class: "btn btn-primary" %>
              </div>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>

   <div class="row1">
      <div class="col-md-10 offset-md-1">
        <div class="card mb-3">
            <div class="card-header">
              <h5 class="card-title-dashboard "><strong>Confirmed Bookings For My Boats</strong></h5>
            </div>
            <div class="row no-gutters justify-content-between">
                <% @bookings_people_have_made_for_my_boats.where(accepted: true).each do |booking|%>

                 <div class="col-md-5">
                   <% if booking.boat.photos.attached? %>
                      <%= cl_image_tag booking.boat.photos[0].key, class: "card-img" %>
                    <% end %>
                 </div>
                 <div class="col-md-6">
                    <div class="card-body">
                    <p class="card-text">
                      <h4 class="purple"><%= booking.boat.name.capitalize %></h4>
                      booked from <%= booking.start_date.strftime("%d/%m/%Y") %> to <%= booking.end_date.strftime("%d/%m/%Y") %>
                    </p>
                    </div>
                 </div>
              </div>
            <% end %>
            </div>
        </div>
   </div>

   <div class="row1">
      <div class="col-md-10 offset-md-1">
        <div class="card mb-3">

          <div class="card-header">
              <h5 class="card-title-dashboard "><strong>View Your Boats</strong></h5>
          </div>
          <div class="row no-gutters justify-content-between">
               <% @my_boats.each do |boat| %>
               <div class="col-md-5">
                  <% if boat.photos.attached? %>
                    <%= cl_image_tag boat.photos[0].key, class: "card-img" %>
                  <% end %>
               </div>
               <div class="col-md-6">
                    <div class="card-body">
                      <p class="card-text"><h4 class="purple"><%= boat.name.capitalize %></h4></p>
                        <%= link_to 'Edit', edit_boat_path(boat), class: "btn btn-primary" %>
                        <%= link_to "Delete", boat_path(boat), class: "btn btn-warning",
                          method: :delete,
                          data: {confirm: "Are you sure to delete #{boat.name}?"} %>
                    </div>
                </div>
               <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>




