<div class="hero-image" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(<%= asset_path('banner_image.jpg') %>);">
  <div class="hero-text">
    <h1>Boaty McBoatface</h1>
    <p>Your dream boat awaits...</p>
    <div class='banner-button'>
      <%= link_to 'See all boats', boats_path, class: "btn btn-primary btn-lg border-light shadow"%>
    </div>
  </div>
</div>


<div class="container">

  <!-- iterate over to show 3 boats as hot offers eg -->
  <h2 class="my-4">Our newest boats</h2>

  <div class="d-flex flex-row bd-highlight mb-3">
    <% @boats.last(3).each do |boat| %>
    <div class="p-2 bd-highlight">
      <div class="card mb-3 shadow rounded-lg">
        <%= image_tag("boat#{rand(1..10)}.jpg", class: "card-img-top") %>
        <div class="card-body">
          <h5 class="card-title">
            <%= link_to boat.name, boat_path(boat) %>
          </h5>
          <p class="card-text small"><%= boat.name %> gathers many advantages besides performance, with so much natural light and dynamic looks, comfortable space and elegant design. Her layout and features will bring you fantastic moments, whether at sea or mooring in a bay.</p>
          <p class="card-text"><i class="fas fa-map-marker-alt"></i> <small class="text-muted"><%= boat.location %></small></p>
          <%= link_to 'See details', boat_path(boat), class: "btn btn-sm btn-primary"%>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>

