<div class="hero-image" style="background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(<%= asset_path('dashboard2.jpeg') %>);">
  <div class="container">
    <div class="hero-text">
      <h1>Boaty McBoatface</h1>
      <p>Your dream boat awaits...</p>
    </div>
  </div>
</div>

<div class="container">
  <div class="container-search-bar my-5">
    <form action="/boats" method="get">
      <div class="product-search">
          <div class="search-element">
            <label class="search-label">Search types of Boats</label>
            <input class="search-input" type="text" autocomplete="on" placeholder="E.g. Yacht, Catamaran..." name="query">
          </div>
          <div class="search-element">
            <label class="search-label">Search for a Location</label>
            <input class="search-input" type="text" placeholder="E.g. Greece, France... " class="" autocomplete="on" name="location">
          </div>
          <input type="submit" class="search-button">
      </div>
    </form>
  </div>
  <!-- iterate over to show 3 boats as hot offers eg -->
  <h2 class="my-4">Our newest boats</h2>

  <div class="d-flex flex-row bd-highlight mb-3">
    <% @boats.last(3).each do |boat| %>
    <div class="p-2 bd-highlight">
      <div class="card mb-3 shadow rounded-lg h-100">
        <%= link_to boat_path(boat), class: "thumbnail" do %>
        <% if boat.photos.attached? %>
          <%= cl_image_tag boat.photos[0].key, class: "card-img-top" %>
        <% end %>
        <% end %>
        <div class="card-body">
          <h5 class="card-title">
            <%= link_to boat.name, boat_path(boat) %>
          </h5>
          <p class="card-text small home-card-text"><%= boat.description %></p>
          <p class="card-text "><i class="fas fa-map-marker-alt"></i> <small class="text-muted"><%= boat.location %></small></p>
          <%= link_to 'See details', boat_path(boat), class: "btn btn-sm btn-primary"%>
        </div>
      </div>
    </div>
    <% end %>
  </div>

<!-- container closing div-->
</div>

