<h1>more information on a specific boat</h1>

<h2><%= @boat.name %></h2>
<h2><%= @boat.brand %></h2>
<h3><%= @boat.location %></h3>
<h3>£<%= @boat.price %></h3>
<h3><%= @boat.category %></h3>

<%= simple_form_for [ @boat, @booking ] do |f| %>
  <%= f.input :start_date%>
  <%= f.input :end_date %>
  <%= f.submit "Submit", class: "btn btn-primary" %>
<% end %>

<%= link_to 'home', root_path, class: "btn btn-primary"%>

<%= link_to "Delete #{@boat.name}",
              boat_path(@boat),
            method: :delete,
            data: { confirm: "Are you sure?" } %>


