<div class="container">

<h1 class="my-4">More info on Your Selected Boat </h1>

  <div class="d-flex flex-row bd-highlight mb-3">
     <div class="p-2 bd-highlight">
      <div class="card mb-3">
       <%= image_tag("boat#{rand(1...10)}.jpeg", class: "card-img-top") %>
        <div class="card-body">
          <ul class="list-group">
          <table class="table table-borderless table-sm">
              <tr>
                <td>Name:</td>
                <td><span class="text-secondary"><%= @boat.name %></span></td>
              </tr>
              <tr>
                <td>Brand:</td>
                <td><span class="text-secondary"><%= @boat.brand %></span></td>
              </tr>
              <tr>
                <td>Location:</td>
                <td><span class="text-secondary"><%= @boat.location %></span></td>
              </tr>
              <tr>
                <td>Price / day:</td>
                <td><span class="text-secondary">£<%= number_with_delimiter(@boat.price, :delimiter => ',')  %></span></td>
              </tr>
              <tr>
                <td>Category:</td>
                <td><span class="text-secondary"><%= @boat.category %></span></td>
              </tr>
              <tr>
                <td>Passengers:</td>
                <td><span class="text-secondary"><%= @boat.number_passenger %></span></td>
              </tr>
              <tr>
                <td>Description:</td>
                <td><span class="text-secondary"><%= @boat.description %></span></td>
              </tr>
            </tbody>
          </table>
       </div>
      </div>
     </div>
   </div>
   <div>
        <h2>Booking form</h2>
          <%= simple_form_for [ @boat, @booking ] do |f| %>
    <div class="row">
    <div class="col">
            <%= f.input :start_date, as: :date, html5: true %>
    </div>
    <div class="col">
            <%= f.input :end_date, as: :date, html5: true %>
    </div>
   </div>
            <%= f.submit "Submit", class: "btn btn-primary" %>
            <% end %>
  </div>


<!-- THE CAROUSEL CODE - NEEDS IMAGES FROM CLOUDINARY  -->
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
        <%= cl_image_tag @boat.photos[0].key, class: "d-block w-50" %>
      </div>
    <% @boat.photos.each_with_index do |photo, index| %>
      <% if index != 0 %>
        <div class="carousel-item">
          <%= cl_image_tag photo.key, class: "d-block w-50" %>
        </div>
      <% end %>
    <% end %>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<!-- closing container -->
</div>

