<h1>more information on a specific boat</h1>

<h2><%= @boat.name %></h2>
<h2><%= @boat.brand %></h2>
<h3><%= @boat.location %></h3>
<h3>£<%= @boat.price %></h3>
<h3><%= @boat.category %></h3>


<%#= link_to "book now", new_booking_path %>


<%= link_to "home", root_path %>
